<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".LGTMApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="${appLabel}"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LGTMAndroid"
        tools:targetApi="31">

        <service
            android:name=".LGTMFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".auth.ui.splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".auth.ui.SignInActivity"
            android:exported="false" />

        <activity
            android:name=".auth.ui.signup.SignUpActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".main.MainActivity"
            android:exported="false" />

        <activity
            android:name=".create_mission.CreateMissionActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".mission_detail.MissionDetailActivity"
            android:exported="false" />

        <activity
            android:name=".manage_mission.dashboard.DashboardActivity"
            android:exported="false" />

        <activity
            android:name=".profile.ProfileActivity"
            android:exported="false" />

        <activity
            android:name=".manage_mission.ping_pong_junior.PingPongJuniorActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".main.notification.NotificationCenterActivity"
            android:exported="false" />

        <activity
            android:name=".auth.ui.SystemMaintenanceActivity"
            android:exported="false" />

        <activity
            android:name=".mission_recommendation.ui.RecommendationDashboardActivity"
            android:exported="false" />

    </application>
</manifest>